* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  margin: 2rem;
}

.navbar {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* justify-content: space-between; */
}

.country-card {
  box-shadow: 0px 2px 5px lightgrey;
  padding: 1rem;
}

h3 {
  margin: 1rem 0;
}

.input {
  padding: 0.5rem;
}
